/*
# *************
#   GENERICS  *
# *************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
# *************
#     UTILS   *
# *************
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col-container {
  display: flex;
}

/*
# *************
#     DEBUG   *
# *************
*/

.border {
  border: 2px dashed black;
}

/*
# *************
#    LAYOUT   *
# *************
*/

/* HEADER */

header {
  background-color: #0084fd;
  line-height: 3rem;
  padding: 1rem 2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav i {
  font-size: 1.5rem;
  color: white;
}

header ul {
  display: none;
}

header li {
  display: inline-block;
  padding: 0 1rem;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

header a:last-child {
  color: black;
}

header button {
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 2rem;
}

/* MAIN */

/* INTRO SECTION */

#intro {
  padding: 3rem 1rem;
}

#intro .card {
  text-align: center;
  border-radius: 2rem;
  margin: 1rem;
  background-color: #b5ddff;
}

#intro .card h3 {
  color: #0285fd;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0 2rem;
}

#intro .card p {
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  color: #718a9f;
  font-size: 1.3rem;
  line-height: 2rem;
}

#intro .card a {
  text-decoration: none;
  color: white;
}

#intro .card .small-card {
  font-size: 5rem;
  color: #0285fd;
  margin: 2rem 0 0 0;
}

/* big card */

.card .col-container {
  flex-direction: column;
}

#intro .col-container i {
  padding-right: 0.3rem;
}

#intro .card .col-content p {
  text-align: start;
}

#intro .card .col-content h3 {
  text-align: start;
}

#intro .card .col-content {
  text-align: start;
}

#intro .card button {
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  margin: 1rem 0 2rem 2rem;
  background-color: #0285fd;
}

#intro .card img {
  width: 230px;
}

#intro .col-container .col-img {
  display: flex;
  align-items: flex-end;
}

/* PLAN SECTION */

#plan {
  padding: 3rem 1rem;
  background-color: #9792e4;
  color: white;
  text-align: justify;
}

#plan .container .col-container {
  flex-direction: column;
}

#plan h2 {
  padding: 3rem 2rem;
  font-size: 2.5rem;
}

.col-plan1 > p {
  font-size: 1.5rem;
  padding: 2rem;
}

/* card plan */

#plan .card-plan {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

#plan .card-plan h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#plan .card-plan p {
  margin-bottom: 2rem;
  line-height: 2rem;
  font-style: oblique;
  font-size: 1.5rem;
  padding: 0 2rem;
}

#plan .arrow {
  background-color: #9792e4;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: inline-block;
}

#plan .arrow i {
  padding-top: 1.5rem;
  font-size: 1.3rem;
}

#plan img {
  width: 100%;
  padding: 2rem;
}

/* TESTIMONIALS SECTION */

#testimonial {
  padding: 3rem 1rem;
}

#testimonial .container {
  text-align: center;
  padding-top: 1rem;
}

.testimonial-text:first-child {
  margin: 2rem;
  font-size: 1.5rem;
}

#testimonial .container h2 {
  font-size: 3rem;
  color: #9792e4;
  margin: 4rem;
}

.testimonial-text:last-child {
  font-size: 1.5rem;
  margin: 4rem;
  line-height: 2.5rem;
}

/* testimonials card */

.testimonial-user {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 2rem;
}

.testimonial-user img {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.testimonial-card {
  margin: 2rem 0;
}

.testimonial-card p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.col-card1 {
  padding: 0 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #9792e4;
  color: white;
}
.col-card2 {
  padding: 0 1rem;
  border-radius: 0 0 2rem 2rem;
  background-color: #9792e4;
  color: white;
}

.col-card2 p {
  padding-bottom: 2rem;
}

/* BENEFITS SECTION */

#benefit {
  padding: 3rem 1rem;
  background-color: #9792e4;
  color: white;
}

#benefit h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0 4rem 0;
}

.benefit-card {
  margin: 1rem;
  background-color: white;
  color: #718a9f;
  border-radius: 2rem;
}

.benefit-card .number {
  font-size: 4rem;
  padding: 2rem;
  color: #9792e4;
}

.benefit-card h3 {
  font-size: 2rem;
  padding: 0 2rem;
  color: #9792e4;
}

.benefit-card .benefit-text {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.benefit-card a {
  text-decoration: none;
  color: white;
}

.benefit-card button {
  margin: 0 2rem 2rem 2rem;
  background-color: #9792e4;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  border: none;
}

/* ABOUT US SECTION */

#about-us-section {
  padding: 3rem 1rem;
}

.about-us-user {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 2rem;
}

#about-us-section h1 {
  padding: 2rem;
  font-size: 4rem;
  color: #9792e4;
}

#about-us-section p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
  padding: 0 2rem;
}

#about-us-section img {
  width: 100%;
}

.about-us-us2 {
  position: relative;
}

.about-us-user span {
  position: absolute;
  color: #9792e4;
  left: 12rem;
  font-size: 4rem;
}

#about-us-section h2 {
  font-size: 2rem;
  padding: 0 2rem;
  color: #9792e4;
}

#about-us-section button {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  margin: 2rem;
  background-color: #9792e4;
}

#about-us-section a {
  text-decoration: none;
  color: white;
}

#about-us-section a i {
  margin-right: 0.5rem;
}

/* START SECTIION */

#start {
  padding: 3rem 1rem;
  text-align: center;
  background-color: #9792e4;
}

#start p {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
}

#start p:first-child {
  color: #c5c3f0;
}

#start h2 {
  font-size: 2.5rem;
  padding: 0 2rem;
  color: white;
}

#start h1 {
  font-size: 5rem;
  padding-top: 2rem;
  color: #fdc15f;
}

#start a {
  text-decoration: none;
  color: #9792e4;
  font-size: 1.5rem;
}

#start button {
  border: none;
  border-radius: 2rem;
  padding: 1.2rem 5rem;
}

#start p:last-child {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#start p:last-child span {
  text-decoration: underline;
}

/* FOOTER */

footer {
  padding: 3rem 1rem;
  background-color: #333333;
  color: white;
}

footer a {
  text-decoration: none;
  color: #9792e4;
  text-decoration: underline;
}

footer p {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}

/*
# *************
#  RESPONSIVE *
# *************
*/

/* TABLET */

@media screen and (min-width: 768px) {
  /* intro */
  #intro .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .container .row .card {
    width: calc(100% / 3 - 2rem);
  }
  #intro .container .row .card:first-child {
    width: calc(100% / 3 * 2 - 2rem);
  }
  #intro .card .col-container * {
    text-align: start;
  }
  #intro .card .col-container button {
    margin-left: 2rem;
  }
  #intro .card .col-container img {
    margin-left: 2.5rem;
  }

  /* plan */
  #plan h2 {
    padding: 3rem 2rem;
    font-size: 6rem;
  }

  /* testimonials */
  .testimonial-card {
    display: flex;
    text-align: justify;
  }
  .col-card1 {
    border-radius: 2rem 0 0 2rem;
  }
  .col-card2 {
    padding-top: 3rem;
    padding-right: 3rem;
    border-radius: 0 2rem 2rem 0;
  }

  /* benefits */
  .benefit-card {
    width: calc(100% / 2 - 2rem);
  }
  #benefit .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  #benefit h2 {
    font-size: 3rem;
  }

  /* about us */
  #about-us-section .container {
    display: flex;
  }
  .col-about-us1 {
    width: 60%;
  }
  .col-about-us2 {
    width: 40%;
  }

  /* start */
  #start .container {
    width: 90%;
  }

  /* footer */
  footer .container {
    width: 50%;
  }
}

/* DEKSTOP */

@media screen and (min-width: 992px) {
  /* header */
  header ul {
    display: inline-block;
  }
  .bars {
    display: none;
  }

  /* intro */
  .card .col-container {
    flex-direction: row;
  }
  .col-content,
  .col-img {
    width: 50%;
  }
  .col-img {
    margin-top: 8.8rem;
  }

  /* plan */
  #plan .container {
    width: 90%;
  }
  #plan .container .col-container {
    flex-direction: row;
  }
  .col-plan1,
  .col-plan2 {
    width: 50%;
  }

  .col-plan2 {
    margin-top: 10rem;
    margin-left: 3rem;
  }

  /* benefits */
  .benefit-card {
    width: calc(100% / 3 - 2rem);
  }

  /* about us */
  .col-about-us1,
  .col-about-us2 {
    padding: 1rem;
  }

  /* start */
  #start .container {
    width: 70%;
  }
}

/* BIG DEKSTOP */

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
  #plan .container {
    width: 1050px;
  }
}
