/*
# *************
#   GENERICS  *
# *************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
# *************
#     UTILS   *
# *************
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col-container {
  display: flex;
}

/*
# *************
#     DEBUG   *
# *************
*/

.border {
  border: 2px dashed black;
}

#plan .container {
  min-height: 80px;
  background-color: aquamarine;
}

#testimonial .container {
  min-height: 80px;
  background-color: plum;
}

#benefit .container {
  min-height: 80px;
  background-color: lightyellow;
}

/*
# *************
#    LAYOUT   *
# *************
*/

/* HEADER */

header {
  background-color: #0084fd;
  line-height: 3rem;
  padding: 1rem 2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav i {
  font-size: 1.5rem;
  color: white;
}

/* MAIN */

/* INTRO SECTION */

#intro {
  padding: 3rem 1rem;
}

#intro .card {
  text-align: center;
  border-radius: 2rem;
  margin: 1rem;
  background-color: #b5ddff;
}

#intro .card h3 {
  color: #0285fd;
  margin: 2rem;
  font-size: 1.5rem;
}

#intro .card p {
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
  color: #718a9f;
}

#intro .card a {
  text-decoration: none;
  color: white;
}

#intro .card .small-card {
  font-size: 5rem;
  color: #0285fd;
  margin: 2rem 0 0 0;
}

/* big card */

.card .col-container {
  flex-direction: column;
}

#intro .col-container i {
  padding-right: 0.3rem;
}

#intro .card button {
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  margin: 1rem 0 2rem 0;
  background-color: #0285fd;
}

#intro .card img {
  width: 230px;
}

#intro .col-container .col-img {
  display: flex;
  align-items: flex-end;
}

/* PLAN SECTION */

#plan {
  padding: 3rem 1rem;
}

#plan .container .col-container {
  flex-direction: column;
}

/* testimonial section */

#testimonial {
  padding: 3rem 1rem;
}

#testimonial .container {
  text-align: center;
}

.testimonial-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.testimonial-card {
  margin: 1rem 0;
}

.col-card1,
.col-card2 {
  padding: 1rem;
}

#plan img {
  width: 100%;
  padding: 2rem;
}

/* benefits section */

#benefit {
  padding: 3rem 1rem;
}

.benefit-card {
  margin: 1rem;
}

/* about us section */

#about-us-section {
  padding: 3rem 1rem;
}

.about-us-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* start section */

#start {
  padding: 3rem 1rem;
}

/* footer */

footer {
  padding: 3rem 1rem;
}

/*
# *************
#  RESPONSIVE *
# *************
*/

/* TABLET */

@media screen and (min-width: 768px) {
  /* intro */
  #intro .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .container .row .card {
    width: calc(100% / 3 - 2rem);
  }
  #intro .container .row .card:first-child {
    width: calc(100% / 3 * 2 - 2rem);
  }
  #intro .card .col-container * {
    text-align: start;
  }
  #intro .card .col-container button {
    margin-left: 2rem;
  }
  #intro .card .col-container img {
    margin-left: 2.5rem;
  }

  /* testimonials */
  .testimonial-card {
    display: flex;
    text-align: justify;
  }

  /* benefits */
  .benefit-card {
    width: calc(100% / 2 - 2rem);
  }
  #benefit .container .row {
    display: flex;
    flex-wrap: wrap;
  }

  /* about us */
  #about-us-section .container {
    display: flex;
  }
  .col-about-us1 {
    width: 70%;
  }
  .col-about-us2 {
    width: 30%;
  }

  /* start */
  #start .container {
    width: 90%;
  }

  /* footer */
  footer .container {
    width: 50%;
  }
}

/* DEKSTOP */

@media screen and (min-width: 992px) {
  /* header */

  /* intro */
  .card .col-container {
    flex-direction: row;
  }
  .col-content,
  .col-img {
    width: 50%;
  }

  /* plan */
  #plan .container {
    width: 90%;
  }
  #plan .container .col-container {
    flex-direction: row;
  }
  .col-plan1,
  .col-plan2 {
    width: 50%;
  }

  /* benefits */
  .benefit-card {
    width: calc(100% / 3 - 2rem);
  }

  /* about us */
  .col-about-us1,
  .col-about-us2 {
    padding: 1rem;
  }

  /* start */
  #start .container {
    width: 70%;
  }
}

/* BIG DEKSTOP */

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
  #plan .container {
    width: 1050px;
  }
}
