/*
# *************
#   GENERICS  *
# *************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
# *************
#     UTILS   *
# *************
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
# *************
#     DEBUG   *
# *************
*/

.border {
  border: 2px dashed black;
}

/*
# *************
#    LAYOUT   *
# *************
*/

/* header */

header {
  background-color: #0084fd;
  line-height: 3rem;
  padding: 1rem;
}

header .container {
  display: flex;
  justify-content: space-between;
}

/* main */

#intro {
  padding: 3rem 1rem;
}

/*
# *************
#  RESPONSIVE *
# *************
*/
